header{
  width:100%;
  height:60px;
  background-color: black;
  color:#fff;
  font-family: 隶书;
}
header ul{
  list-style:none;
}
header ul li{
	float:left;
	padding: 15px 10px;
	font-size: 22px;
	text-decoration:none;
}
.button1{
	height:30px;
	font-size: 18px;
	font-family: 隶书; 
    background-image: -webkit-gradient(  
        linear,  
        left top,  
        left bottom,  
        color-stop(0, rgb(211,211,211)),  
        color-stop(0.49, rgb(84,164,238)),  
        color-stop(0.5, rgb(54,144,240)),  
        color-stop(1, rgb(175,238,238))  
    );    
}
#stu_insert{
	background-color: gray;
	outline-style:dotted;
	width:250px;
	height:300px;
	position:relative;
	left:400px;
}
#stu_delete{
	background-color: gray;
	outline-style:dotted;
	width:250px;
	height:200px;
	position:relative;
	left:700px;
	top:-300px;
	bottom: 500px;
}

#tea_insert{
	background-color: gray;
	outline-style:dotted;
	width:250px;
	height:300px;
	position:relative;
	left:400px;
}
#tea_delete{
	background-color: gray;
	outline-style:dotted;
	width:250px;
	height:200px;
	position:relative;
	left:700px;
	top:-300px;
	bottom: 500px;
}
#gra_insert{
	background-color: gray;
	outline-style:dotted;
	width:250px;
	height:300px;
	position:relative;
	left:400px;
}
#gra_delete{
	background-color: gray;
	outline-style:dotted;
	width:250px;
	height:200px;
	position:relative;
	left:700px;
	top:-300px;
	bottom: 500px;
}
#gra_update{
	margin:0 auto;
	background-color: gray;
	outline-style:dotted;
	width:300px;
	height:300px;
	/*position:relative;
	left:100px;
	top:-620px;
	bottom: 500px;*/
}
#stu_update{
    margin:0 auto;
	background-color: gray;
	outline-style:dotted;
	width:300px;
	height:350px;
}
#tea_update{
    margin:0 auto;
	background-color: gray;
	outline-style:dotted;
	width:300px;
	height:300px;
}
#LR{
	background-color: gray;
	outline-style:dotted;
	width:250px;
	height:400px;
}
#disp{
	width:200px;
	height:60px;
	text-align: right;
	font-size:20px;
    position:relative;
	top:-40px;
	left:1000px;
}
#disp2{
	width:400px;
	height:60px;
	text-align: right;
	font-size:20px;
    position:relative;
	top:15px;
	left:800px;
}

body{
	padding-bottom: 60px; 
    background-image: url(img/1.gif);
    background-size: 110% auto;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
footer{
	text-align: center;
	width:100%;
	height: 60px;
	background-color: #000;
	position: fixed;
	bottom:0px;
	left: 0px;
	color:#fff;
	font-family: 隶书;
	font-size: 30px;
}
 a:link,a:active,a:visited {
 	text-decoration:none;
 	color:gray;
 } 
 a:hover {color:purple;}